#scraper-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00a65a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

#scraper-button:hover {
    background-color: #218838;
}
